[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbdev = "==1.1.5"
jupyter = "==1.0.0"
jupyterlab = "==2.2.9"
netdata-ts-clustering = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
